body {
    background-color: rgb(173, 255, 47);
    color: rgb(9, 18, 70);
    font-family: "Oswald", sans-serif;
    margin: 0px;

}

header {
    font-size: 50px;
    text-align: center;
    border-bottom: solid 2px rgb(226, 193, 8);
    padding: 20px;
    font-size: 32px;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

section {
    background: rgb(237, 243, 159);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: space-center;

}

.chamada-texto {
    margin-right: 10%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}